@charset "utf-8";
* { border: none; margin: 0px; padding: 0px; }
body { background: #FFF; font-family: "微软雅黑"; }
.main { width: 1000px; margin: 0px auto; }
#top { height: 100px; background: url(../images/login_topbg.png) repeat-x;}
.logo { width: 252px; height: 100px; background: url(../images/login_logo.jpg) no-repeat; float: left; }
.nav li { width: 125px; text-align: center; float: left; margin: 40px 0px; font-size: 18px; list-style-type: none; }
.nav li a:link { color: #010101; text-decoration: none; }
.nav li a:visited { color: #010101; text-decoration: none; }
.nav li a:hover { color: #007fb3; text-decoration: none; }
/*-----登录 container-----*/
#login { float: right; outline: none; position:relative; z-index:200;}
/*-----Position and hide the dropdown-----*/
.drop { display: none; position: absolute; z-index: 1000; top: 65px; right:0px; border: solid 4px #7db11d; width: 327px; padding: 10px; background: #f3f8fc; clear: both; }
/*-----Dropdown form element-----*/
/*-----Signin link-----*/
.signin { background: url(../images/login_login.png) no-repeat; width: 208px; height: 74px; display: block; }
.signin:hover { background: url(../images/login_login.png) no-repeat; }
/*-----Signin clicked state-----*/
.signinclick { background: url(../images/login_login.png) no-repeat; width: 208px; height: 74px; display: block; }
.signinclick:hover { background: url(../images/login_login.png) no-repeat; }
/*-----Submit Button-----*/
.submit { display: block; width: auto; float: right; margin-top: 10px; border: solid 1px #cb8604; padding: 10px; background: #ffc800; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #a55900; text-decoration: none; background: -webkit-gradient(linear, left top, left bottom, from(#ffc800), to(#ffa800)); background: -moz-linear-gradient(top, #ffc800, #ffa800);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc800', endColorstr='#ffa800');
-webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em; }
.submit:hover { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); box-shadow: 0 1px 2px rgba(0, 0, 0, .2); background: -webkit-gradient(linear, left top, left bottom, from(#ffc800), to(#e89900)); background: -moz-linear-gradient(top, #ffc800, #e89900);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc800', endColorstr='#e89900');
}
/*-----Inputs-----*/
.input01{ border: solid 1px #ccc; padding: 15px; background: #fff; width: 295px; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; color: #666; }
.input01:focus{ border: solid 1px #ebc77e; padding: 15px; background: #f8f3c7; -webkit-transition: background .2s ease-in; -moz-transition: background .2s ease-in; -o-transition: background .2s ease-in; transition: background .2s ease-in; }

label { display: block; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #666; margin: 10px 0 3px 0; }
/*-----Checkbox and checkbox labels-----*/
.remember { float: left; margin-top: 20px; }
.checkbox { margin: 0 5px 0 0; padding: 0; width: auto; background: none; border: none; }
#login p { font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #666; clear: both; }
#login p a { color: #0784b3; font-weight: bold; text-decoration: none; }
#login p a:hover { color: #127296; }
/*-----登录结束-----*/

/*幻灯片位置开始*/
#Slidebox { width: 100%; height: 388px; background: #0080b4; overflow: hidden; margin-top:-2px;}
#flashBg { height: 388px; overflow: hidden; width: 100%; clear: both; }
#flashLine { background: url(../images/touming.png) repeat-x center bottom; height: 388px; width: 100%; clear: both; }
#flash { width: 1000px; height: 388px; overflow: hidden; margin: 0 auto; clear: both; position: relative;}
#flash a { width: 1000px; height: 388px; display: none; }
#flash img { width: 1000px; height: 388px; }
.flash_bar { width: 555px; padding-left: 460px; z-index: 69; height: 30px; overflow: hidden; position: absolute; padding-top: 13px!important; padding-top: 12px; bottom: 0px; left: 0px; background: url(../images/tg_flashbar.png) no-repeat 0px 0px; text-align: center; }
.flash_bar .dq { display: block; float: left; width: 12px; height: 12px; margin: 2px 4px; cursor: pointer; background: url(../images/pagination.png) no-repeat 0px -12px; overflow: hidden; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://vizo.retail20.cn/images/pagination.png", sizingMethod="crop");
}
.flash_bar .no { display: block; float: left; width: 12px; height: 12px; margin: 2px 4px; cursor: pointer; background: url(../images/pagination.png) no-repeat 0px 0px; overflow: hidden; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://vizo.retail20.cn/images/pagination.png", sizingMethod="crop");
}
/*幻灯片位置结束*/

/*搜索开始*/
#search{ height:48px; background:url(../images/login_quit.png) repeat-x;}
#search .tip { float:left; line-height:48px; font-size:14px; color:#333;}
#search .red { color:#dd0000; font-weight:bold; }
#search .box { float:right; width:317px; height:34px; background:url(../images/search.png) no-repeat; margin-top:6px; }
#search .box .searchkey{ outline:none; border:0; height:34px; line-height:34px; background:none; font-size:14px; color:#888; width:200px; float:left; padding-left:30px;}
#search .box .searchbut{background:url(images/v5_main_img.png) no-repeat 0 -115px; cursor:pointer; border:0; width:80px; height:34px; float:right;}

/*搜索结束*/

/*介绍开始*/
#content { padding:100px 0px; float:left;}
.con { width:327px; float:left; margin-right:10px;}
.con2 { width:326px; float:left;}
.con_l{ float:left; margin-right:10px;}
.con_r{ float:left;}
.tit{ height:16px; width:auto; margin-bottom:10px;}
.txt{ width:200px; font-size:14px; line-height:24px;}
.con_r .link{ width:100%; text-align:right; display:block; font-size:14px;}
.con_r .link a:link{ color:#1954c8; text-decoration:none;}
.con_r .link a:visited{ color:#1954c8; text-decoration:none;}
.con_r .link a:hover{ color:#1954c8; text-decoration:underline;}

/*底部*/
#foot{ height:130px; padding-top:50px; width:100%; background:url(../images/login_foot_bg.png) repeat-x; float:none; clear:both;}
#foot p{ color:#FFF; text-align:center; font-size:14px; }